<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="stylesheet" type="text/css" href="/statics/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impostos Municipais - Diadema</title>
</head>
<body>
    <h1>Impostos Municipais - Diadema</h1>
    <p> Confira os impostos municipais de Diadema, de 2013 a 2022, por ano:</p>
    <form>
        <label for="ano">Selecione o ano:</label>
        <select id="ano" name="ano">
            {% for imposto in diadema_impostos_municipais %}
                <option value="{{ imposto['ano'] }}">{{ imposto['ano'] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Consultar</button>
    </form>
</body>
</html>