<html>

<body>
    <h1>Bem-vindo ao Impostômetro do ABC/h1>

        <p>Aqui você encontra a arrecadação municipal das sete cidades do ABC de 2013 a 2022.</p>
    <form action="/busca" method="post">
        <label>Selecione o município que deseja selecionar:</label>
        <select name="nome">
            {% for municipio in municipios %}
            <option value="{{municipio.id}}">{{municipio.nome}}</option>
            {% endfor %}
          </select>
        <button type="submit">Buscar</button>
    </form>
</body>

</html>