<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impostos Municipais - Mauá</title>
</head>
<body>
    <h1>Impostos Municipais - Mauá</h1>
    <p> Confira os impostos municipais de Mauá, de 2013 a 2022, por ano:</p>
    <table>
        <tr>
            <th>Ano</th>
            <th>IPTU</th>
            <th>ITBS</th>
            <th>ISS</th>
        </tr>
        {% for imposto in maua_impostos_municipais %}
        <tr>
            <td>{{ imposto['ano'] }}</td>
            <td>{{ imposto['IPTU'] }}</td>
            <td>{{ imposto['ITBS'] }}</td>
            <td>{{ imposto['ISS'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>